#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.txt-inpt-area{
  width: 600px;
  height: 200px;
  margin:auto;
  background-color:#fff;
  color: black;
}

.stats-container{
  display:flex;
  justify-content:center;
}

.stats-container div {
  width: 175px;
  padding:5px;
  border: 2px solid white; 
  border-radius: 5px;
  margin:auto;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
